<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Art</title>

    <!-- <link rel="stylesheet" href="./stylesheets/quiz.css" />
    <link rel="stylesheet" href="./stylesheets/homepage.css" /> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheets.css" />



  </head>
  <body>

    {{>navbar}}
    {{{body}}}


    <!-- <script type="text/javascript" src="/scripts/homepage.js"></script> -->
    <script type="text/javascript" src="/scripts/game_functionality.js"></script>
  </body>
</html>
