<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smart Art</title>

    <link rel="stylesheet" href="stylesheets/stylesheet.css" />

  </head>
  <body>

    {{{body}}}


    <script src="/scripts/homepage.js"></script>
  </body>
</html>
