<div class="home-window">
  <div id="background-image" class="da-vinci">
    <div class="welcome-text">
      <h1>Welcome to Smart Art!</h1>
      <h3>Fill Your Brain With Culture</h3>
      <h2><a href="/random">Try A Quiz</a></h2>
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/homepage.js"></script>
