<fieldset>
  <legend>New Quiz</legend>
  <!-- Name -->
  <div class="question-form-card">
    <h1>Question 1</h1>
    <p>
      <label for="image">Image URL</label>
      <textarea type="text" name="imnage" rows="1"/></textarea>
    </p>
    <!-- Bio -->
    <p>
      <label for="correct">Correct Answer</label>
      <textarea type="text" name="correct" rows="1"/></textarea>
    </p>

    <p>
      <label for="choices">Incorrect Answer 1</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 2</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 3</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
  </div>

  <!-- Name -->
  <div class="question-form-card">
    <h1>Question 2</h1>
    <p>
      <label for="image">Image URL</label>
      <textarea type="text" name="imnage" rows="1"/></textarea>
    </p>
    <!-- Bio -->
    <p>
      <label for="correct">Correct Answer</label>
      <textarea type="text" name="correct" rows="1"/></textarea>
    </p>

    <p>
      <label for="choices">Incorrect Answer 1</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 2</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 3</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
  </div>

  <!-- Name -->
  <div class="question-form-card">
    <h1>Question 3</h1>
    <p>
      <label for="image">Image URL</label>
      <textarea type="text" name="imnage" rows="1"/></textarea>
    </p>
    <!-- Bio -->
    <p>
      <label for="correct">Correct Answer</label>
      <textarea type="text" name="correct" rows="1"/></textarea>
    </p>

    <p>
      <label for="choices">Incorrect Answer 1</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 2</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
    <p>
      <label for="choices">Incorrect Answer 3</label>
      <textarea type="text" name="choices" rows="1"/></textarea>
    </p>
  </div>

  <input type="submit">
</fieldset>
