<!-- question: { type: String, required: true },
image: String,
correct: { type: String, required: true },
choices: [{ type: String, required: true } -->

<div class="question-card">
  <form method="POST" action="/api/quiz/{{quizId}}/question">
    
  </form>
</div>
