<div class="row">
    

    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/quiz/{{quizId}}/question" method="post">
            {{#each data.records}}
            {{#if this.primaryimageurl}}
            <legend>Question</legend>
            <div class="form-group">
                <label for="question-ask">Question</label>
                <input type="text" name="question" class="form-control" id="question" placeholder="Name the Artist.">
            </div>

            <div class="form-group">
                <img src={{this.primaryimageurl}} alt="..." class="img-thumbnail">
                <input type="hidden" name="imgurl" class="form-control" id="question-img" value={{this.primaryimageurl}}>
            </div>

            <div class="form-group">
                <label for="question-correct">Correct</label>
                <input type="text" name="correct" class="form-control" id="question-correct" placeholder={{this.people.0.name}}>
            </div>

            <div class="form-group">
                <label for="question-incorrect">Incorrect</label>
                <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
            </div>

            <div class="form-group">
                <label for="question-incorrect">Incorrect</label>
                <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
            </div>

            <div class="form-group">
                <label for="question-incorrect">Incorrect</label>
                <input type="text" name="incorrect" class="form-control" placeholder="Not the correct answer.">
            </div>
            {{/if}}
             {{/each}}
            <div class='text-incorrect'>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </div>
        </form>
    </div>
   
</div>