<!-- Show one question -->

<div class="screen">
  <div class="hero-section">
    <div class="hero-image-container">
      <img src="art_avatar_1.png" />
    </div>
    <div class="hero-text-conatiner">
      <div class="hero-text">
        <h1>Welcome to Smart Art!</h1>
        <p>This is a game of memory and deduction, designed to help you become an art connoisseur!</p>
        <p>To begin...</p>
      </div>
    </div>
  </div>
  <div class="question-section">
    <div class="question-image">
      <img src="starry.jpg" />
    </div>
    <div class="question-answers">
      <button class="button">Vincent Van Gogh</button>
      <button class="button">Pablo Picaso</button>
      <button class="button">Andy Warhol</button>
      <button class="button">Peter Max</button>
    </div>
  </div>
</div>
