/* Begin Global CSS */
body {
  font-family: cursive;
}

a {
  text-decoration: none;
  color: white;
}
/* End Global CSS */


.home-window {
  height: 100vh;
  width: 100vw;
  /* z-index: 0; */
}

.picasso {
  background-image: url('../assets/femmes.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(90%);
}



.van-gogh {
  background-image: url('../assets/starry.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(90%);
}


.da-vinci {
  background-image: url('../assets/baby.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(90%);
}

.welcome-text {
  color: white;
  text-align: center;
  padding-top: 150px;
  height: 40vh;
  width: 25vw;
  background-color: #171818;
  margin: auto;
  /* margin-top: 300px; */
  /* z-index: 1; */
}


/* Begin Navbar Section */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171818;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #DCDCDC;
}

.navbar .active {
  background-color: #4CAF50;
}
/* End Navbar Section */


/* Begin Screen Secion */
.screen {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
}
/* End Screen Section */

/* Begin Hero Section */
.hero-section {
  width: 30%;
  height: 100%;
  background-color: #EDF0F1;
}
/* End Hero Section */

/* Begin Hero Image Section */
.hero-image-container {
  height: 40%;
  /* background-color: green; */

}

.hero-image-container img {
  height: 75%;
  width: 45%;
  display: block;
  margin: auto;
  padding-top: 20px;
}
/* End Hero Image Section */

/* Begin Hero Text Section */
.hero-text-container {
  height: 60%;
}

.hero-text {
  background-color: white;
  margin: 20px;
  border-style: ridge;
}
/* End Hero Text Section */


/* Begin Question Section */
.question-section {
  width: 70vw;
  height: 100%;
  background-color: #2f3030;
}
/* End Question Section */


/* Begin Question Image Section */
.question-image img {
  display: block;
  margin: auto;
  padding-top: 20px;
  height: 50vh;
  width: auto;
}
/* End Question Image Section */

/* Begin Question Answers Section */
.question-answers {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  margin: auto;
}

.question-answers .answer {
  background-color: #a0cbd8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.question-answers .answer.revealed#correct{
  background-color: green;
}
.question-answers .answer.revealed {
  background-color: red;
}
/* End Question Answers Section */

.question-next-text {
  color: white;
  background: #a0cbd8;
  width: 20vw;
  height: 10vh;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: none;
}

.hero-text {
  display: none;
}

.score-container {
  height: 40vh;
}

.score {
  text-align: center;
  margin-top: 20vh;
  font-size: 4rem;
}
